body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("images/banner.jpg");
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  box-sizing: border-box;
}
.rating{
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
}

.container-img1 {
  width: 400px;
  height: 500px;
  background-image: url("images/bnr-slid-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
 
}

.image1 {
  width: 20ppx;
  height:300px;
}

.checked {
  color: orange;
}

.rating .container-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rating .container-line .line {
  flex-grow: 1;
  
}

.no-space {
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-top: 1px solid white;
}


.icon1, .icon2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  gap: 10px; /* Adjust the gap between items */
}

.icon1 div, .icon2 div {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between image and text */
}

.icon1 img, .icon2 img {
  width: 40px;
  height: 60px;
  object-fit: contain;
}

.icon1 span{
  text-align: center;
  font-size: 11px;
  width: 100%;
  margin-right: 10px;
}
.icon2 span {
  text-align: center;
  font-size: 11px;
  width: 100%;
  margin-right: 35px;
}




.icon1 img, 
.icon2 img {
  width: 30px;
  height: 40px;

  object-fit: contain;
}

  

.addtocart {
  margin-top: 20px;
}

.button {
  background-color: #00C249;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.checkboxes label {
  color: white;
  margin-right: 20px;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}


input[type=checkbox]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: transparent;
  background-color: rgba(0, 0, 0, 0.08);
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #C4BA2E;
  border-radius: 3px;
}

input[type=checkbox]:checked:before {
  color: #C4BA2E;
}

.review {
  margin-top: 20px;
}

.customer-review {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 15px;
}

.customer {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px 15px;
}
.rating .col3 h1::before{
  color: white;
  font-weight: bold;
  content: "Unleash The Power Of\a Our 20/20 Vision\aSupplement!";
  white-space: pre;
  
}
.rating .col2 span::before{
  color: white;
  font-weight: bold;
  content: "Experience Crystal-Clear Vision:";

}
.rating .container-line span::before{
  color: white;
  font-weight: bold;
  content: "Ingredients known for:";
}
.container .container-img .image1::before{
  margin-left: 55px;
  width: 70%;
  height: 60vh;
}
.container-img2 {
  display: none;
}

.image2{
display: none;
margin-left: 0;
width: 100%;
height: 50vh;
}
.icon3, .icon4 {
  display: none;
}
.separator {
  display: none;
}
.separator::before{
  display: none;
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}
.separator:not(:empty)::before {
  display: none;
  margin-right: .25em;
}
.separator:not(:empty)::after {
  display: none;
  margin-left: .25em;
}

@media only screen and (max-width: 678px) {
  .separator {
    display: block;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
  }
  .separator:not(:empty)::before {
    display: block;
    margin-right: .25em;
  }
  .separator:not(:empty)::after {
    display: block;
    margin-left: .25em;
  }

  .icon1, .icon2{
    display: none;
  }
  .icon3, .icon4 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; /* Align items to the bottom */
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    gap: 10px; /* Adjust the gap between items */
  }
  
  .icon3 div, .icon4 div {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
   /* Adjust the gap between image and text */
  }
  
  .icon3 img, .icon4 img {
    width: 40px;
    height: 60px;
    object-fit: contain;
  }
  
  .icon3 span, .icon4 span {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    width: 100%;
    margin-right: 10px;
    max-height: 40px; /* Adjust max height as needed */
    overflow: hidden; /* Hide overflow text */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
  }
  
  .no-space {
    display: none;
  }
  .container-img1 {
    display: none;
  }
  .image1 {
    display: none;
    width: 20ppx;
    height:300px;
  }
  .container-img2 {
    display: block;
    width: 400px;
    height: 500px;
    background-image: url("images/bnr-slid-img1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
   
  }

.image2{
  display: block;
  margin-left: 0;
  width: 100%;
  height: 50vh;
}
  .button {
      width: 100%;
      padding: 10px;
  }

  .checkboxes {
      flex-direction: row;
      display: flex;
      align-items: center;
      
      margin: 20px 0;
  }
  .checkboxes label{
    font-size: 12px;
    margin-right: 5px; /* Adjust the margin between label and checkbox */
    display: inline-block;
  }

  .review {
      text-align: left;
  }
  .rating .col3 h1::before{
    content: none;
  }
  .rating .col2 span::before{
    content: none
  }
  .rating .container-line span::before{
    content: none;
  }
  .container-.line{
    content: none;
  }

    .rating .col3 h1::after{
      color: white;
      font-weight: bold;
      content: "Experience Crystal-Clear Vision: Unleash the Power of Our 20/20 Vision Supplement!";
      font-size: 20px; /* Adjusted font size for smaller screens */
     
    }
    .rating .col2 span::after{ 
      
      color: #01A3FF;
      font-weight: bold;
      content: "An Easy and Safe Way to Achieve";
      
    }
    .rating .container-line span::after{
      content: none
    }
}


@media only screen and (min-width: 960px) {
  .container {
      flex-direction: row;
      
  }


}