body {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("images/banner.jpg");
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.container-img {
  width: 700px;
  height: 700px;
  background-image: url("images/bnr-slid-img1.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  margin-left: 65px;
  width: 70%;
  height: auto;
}

.rating {
  text-align: left;
  margin-top: 20px;
}

.checked {
  color: orange;
}

.rating .container-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rating .container-line .line {
  flex-grow: 1;
  margin-left: 10px;
}

.no-space {
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-top: 1px solid white;
}

.icon1,
.icon2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 10px;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  gap: 3px;
}

.icon1 img, 
.icon2 img {
  width: 40px;
  height: 60px;
  gap: 15px;
  object-fit: contain;
}

.addtocart {
  margin-top: 20px;
}

.button {
  background-color: #00C249;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.checkboxes label {
  color: white;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: transparent;
  background-color: rgba(0, 0, 0, 0.08);
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #C4BA2E;
  margin-right: 7px;
  border-radius: 3px;
}

input[type=checkbox]:checked:before {
  color: #C4BA2E;
}

.review {
  margin-top: 20px;
}

.customer-review {
  display: flex;
  align-items: start;
  gap: 10px;
}

.customer {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 620px) {
  .container-img {
      width: 100%;
      max-width: 300px;
  }

  .rating {
      text-align: left;
      padding-left: 20px;
  }

  .icon1, .icon2 {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
  }

  .img1, .img2, .img3, .img4 {
      padding-left: 0;  
  }

  .button {
      width: 100%;
      padding: 10px;
  }

  .checkboxes {
      flex-direction: column;
      gap: 10px;
  }

  .review {
      text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .container {
      flex-direction: row;
      justify-content: space-around;
  }

  .rating {
      padding-left: 0;
  }
}
