body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("images/banner.jpg");
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  box-sizing: border-box;
}
.rating{
 
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
}

.container-img {
  width: 500px;
  height: 75vh;
  background-image: url("images/bnr-slid-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-left: 10%;
}

.image1 {
  margin-left: 55px;
  width: 70%;
  height: 60vh;
}

.checked {
  color: orange;
}

.rating .container-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rating .container-line .line {
  flex-grow: 1;
  margin-left: 10px;
}

.no-space {
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-top: 1px solid white;
}

.icon1,
.icon2 {
  display: flex;
  justify-content: space-between; /* Keeps items spaced evenly */
  align-items: center; /* Aligns items vertically centered */
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  gap: 4px; /* Space between flex items */
}
.icon1 .item,
.icon2 .item {
  display: flex; /* Use flex for the item containers */
  align-items: center; /* Vertically center text and images within each item */
}
.icon1 .item span, .icon2 .item span {  
  margin-left: 5px; /* Adjust spacing between image and text */
}

.icon1 img, 
.icon2 img {
  width: 30px;
  height: 40px;
  gap: 20px;
  object-fit: contain;
}
.icon1 .item span::before{
  margin-left: 10px; /* Adjust as needed for spacing */
}

  

.addtocart {
  margin-top: 20px;
}

.button {
  background-color: #00C249;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.checkboxes label {
  color: white;
  margin-right: 20px;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}


input[type=checkbox]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: transparent;
  background-color: rgba(0, 0, 0, 0.08);
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #C4BA2E;
  border-radius: 3px;
}

input[type=checkbox]:checked:before {
  color: #C4BA2E;
}

.review {
  margin-top: 20px;
}

.customer-review {
  display: flex;
  align-items: start;
  gap: 10px;
}

.customer {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px 15px;
}
.rating .col3 h1::before{
  color: white;
  font-weight: bold;
  content: "Unleash The Power Of\a Our 20/20 Vision\aSupplement!";
  white-space: pre;
  
}
.rating .col2 span::before{
  color: white;
  font-weight: bold;
  content: "Experience Crystal-Clear Vision:";

}
.rating .container-line span::before{
  color: white;
  font-weight: bold;
  content: "Ingredients known for:";
}
.container .container-img .image1::before{
  margin-left: 55px;
  width: 70%;
  height: 60vh;
}


@media only screen and (max-width: 620px) {

  .container-img {
    width: 100%;
    height: 50vh;
    margin-left: 0; 
  }

.image1{
  margin-left: 0;
  width: 100%;
  height: 50vh;
}
  .rating {
      text-align: left;
      padding-left: 20px;
  }
  .icon1, .icon2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust based on your preference */
    grid-gap: 16px; /* Space between items */
}

.item {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between image and text */
  height: 70px; /* Adjust height as needed */
}


.item img {
  max-width: 100%; /* Ensure images are responsive */
  height: 50px;    /* Fixed height for images */
  object-fit: contain; /* Maintain aspect ratio */
  margin: 0 auto;   /* Center the image horizontally */
}

.item span {
    margin-top: auto; /* Push the text to the bottom */
    text-align: center; /* Center the text */
}




   .img3, .img4 {
      padding-left: 0; 
   
  }

  .button {
      width: 100%;
      padding: 10px;
  }

  .checkboxes {
      flex-direction: row;
      display: flex;
      align-items: center;
      
      margin: 20px 0;
  }
  .checkboxes label{
    font-size: 12px;
    margin-right: 5px; /* Adjust the margin between label and checkbox */
    display: inline-block;
  }

  .review {
      text-align: left;
  }
  .rating .col3 h1::before{
    content: none;
  }
  .rating .col2 span::before{
    content: none
  }
  .rating .container-line span::before{
    content: none;
  }
  .container-.line{
    content: none;
  }

    .rating .col3 h1::after{
      color: white;
      font-weight: bold;
      content: "Experience Crystal-Clear Vision: Unleash the Power of Our 20/20 Vision Supplement!";
      font-size: 20px; /* Adjusted font size for smaller screens */
     
    }
    .rating .col2 span::after{ 
      
      color: #01A3FF;
      font-weight: bold;
      content: "An Easy and Safe Way to Achieve";
      
    }
    .rating .container-line span::after{
      content: none
    }
}


@media only screen and (min-width: 960px) {
  .container {
      flex-direction: row;
      
  }

  .rating {
      padding-left: 0;
  }
}